<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.platform.mapper.SysComboBoxMapper">
  <resultMap id="BaseResultMap" type="com.team.platform.pojo.SysComboBox">
    <id column="COMBOID" jdbcType="VARCHAR" property="comboid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="VALUE_FIELD" jdbcType="VARCHAR" property="valueField" />
    <result column="TEXT_FIELD" jdbcType="VARCHAR" property="textField" />
    <result column="WHERE_CONDITION" jdbcType="VARCHAR" property="whereCondition" />
    <result column="PARENT_FIELD" jdbcType="VARCHAR" property="parentField" />
    <result column="ROOT_VALUE" jdbcType="VARCHAR" property="rootValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COMBOID, NAME, TABLE_NAME, VALUE_FIELD, TEXT_FIELD, WHERE_CONDITION, PARENT_FIELD, 
    ROOT_VALUE
  </sql>
  <select id="selectByExample" parameterType="com.team.platform.pojo.SysComboBoxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HDMS.SYS_COMBO_BOX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HDMS.SYS_COMBO_BOX
    where COMBOID = #{comboid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HDMS.SYS_COMBO_BOX
    where COMBOID = #{comboid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.team.platform.pojo.SysComboBoxExample">
    delete from HDMS.SYS_COMBO_BOX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.team.platform.pojo.SysComboBox">
    insert into HDMS.SYS_COMBO_BOX (COMBOID, NAME, TABLE_NAME, 
      VALUE_FIELD, TEXT_FIELD, WHERE_CONDITION, 
      PARENT_FIELD, ROOT_VALUE)
    values (#{comboid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{valueField,jdbcType=VARCHAR}, #{textField,jdbcType=VARCHAR}, #{whereCondition,jdbcType=VARCHAR}, 
      #{parentField,jdbcType=VARCHAR}, #{rootValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.team.platform.pojo.SysComboBox">
    insert into HDMS.SYS_COMBO_BOX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comboid != null">
        COMBOID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="valueField != null">
        VALUE_FIELD,
      </if>
      <if test="textField != null">
        TEXT_FIELD,
      </if>
      <if test="whereCondition != null">
        WHERE_CONDITION,
      </if>
      <if test="parentField != null">
        PARENT_FIELD,
      </if>
      <if test="rootValue != null">
        ROOT_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comboid != null">
        #{comboid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="valueField != null">
        #{valueField,jdbcType=VARCHAR},
      </if>
      <if test="textField != null">
        #{textField,jdbcType=VARCHAR},
      </if>
      <if test="whereCondition != null">
        #{whereCondition,jdbcType=VARCHAR},
      </if>
      <if test="parentField != null">
        #{parentField,jdbcType=VARCHAR},
      </if>
      <if test="rootValue != null">
        #{rootValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.team.platform.pojo.SysComboBoxExample" resultType="java.lang.Long">
    select count(*) from HDMS.SYS_COMBO_BOX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HDMS.SYS_COMBO_BOX
    <set>
      <if test="record.comboid != null">
        COMBOID = #{record.comboid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.valueField != null">
        VALUE_FIELD = #{record.valueField,jdbcType=VARCHAR},
      </if>
      <if test="record.textField != null">
        TEXT_FIELD = #{record.textField,jdbcType=VARCHAR},
      </if>
      <if test="record.whereCondition != null">
        WHERE_CONDITION = #{record.whereCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.parentField != null">
        PARENT_FIELD = #{record.parentField,jdbcType=VARCHAR},
      </if>
      <if test="record.rootValue != null">
        ROOT_VALUE = #{record.rootValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HDMS.SYS_COMBO_BOX
    set COMBOID = #{record.comboid,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      VALUE_FIELD = #{record.valueField,jdbcType=VARCHAR},
      TEXT_FIELD = #{record.textField,jdbcType=VARCHAR},
      WHERE_CONDITION = #{record.whereCondition,jdbcType=VARCHAR},
      PARENT_FIELD = #{record.parentField,jdbcType=VARCHAR},
      ROOT_VALUE = #{record.rootValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.team.platform.pojo.SysComboBox">
    update HDMS.SYS_COMBO_BOX
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="valueField != null">
        VALUE_FIELD = #{valueField,jdbcType=VARCHAR},
      </if>
      <if test="textField != null">
        TEXT_FIELD = #{textField,jdbcType=VARCHAR},
      </if>
      <if test="whereCondition != null">
        WHERE_CONDITION = #{whereCondition,jdbcType=VARCHAR},
      </if>
      <if test="parentField != null">
        PARENT_FIELD = #{parentField,jdbcType=VARCHAR},
      </if>
      <if test="rootValue != null">
        ROOT_VALUE = #{rootValue,jdbcType=VARCHAR},
      </if>
    </set>
    where COMBOID = #{comboid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.platform.pojo.SysComboBox">
    update HDMS.SYS_COMBO_BOX
    set NAME = #{name,jdbcType=VARCHAR},
      TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      VALUE_FIELD = #{valueField,jdbcType=VARCHAR},
      TEXT_FIELD = #{textField,jdbcType=VARCHAR},
      WHERE_CONDITION = #{whereCondition,jdbcType=VARCHAR},
      PARENT_FIELD = #{parentField,jdbcType=VARCHAR},
      ROOT_VALUE = #{rootValue,jdbcType=VARCHAR}
    where COMBOID = #{comboid,jdbcType=VARCHAR}
  </update>
</mapper>